/*
* 	reSyncSub by FELab 
*	Copyright 2019-2020
*	MIT License ->  http://www.opensource.org/licenses/mit-license.php
*/

.nav {
  background-color:  #26A69A;
  height: 45px;
}
.nav a{
  color: white;
  font-size:15px;
  font-family: initial;
  
}
.ad1 img{
  border: 1px solid red;
  
}
.nav ul{
  display: inline-flex;
 
}
.nav a:hover{
  
  color: wheat;
 
}
.nav li{
  margin: 0 25px ;
  
}

.syn p{
   text-align: center;
   font-size: 16px;
   font-family:  initial;
   font-style: oblique;
}
.syn {
  text-align: center;

}
.syn .file-field {
  text-align: center;
  padding-left: 410px;
  padding-right: 410px;
  
}
.syn .radio-group label{
  font-size: 14px;
  
}
.syn .radio-group2 label{
  font-size: 16px;
  
}

.syn img{
	width:215px;
}
.syn a{
    color: brown;

}
.syn a:hover{
  color:#039be5;
}
.syn span{
  color: black;
  font-size: 14px;
}

.syn h5,h4{
  font-style: oblique;
}

.share {
  float: right;
  margin: -301.5px 5px ;
  
}
.share .btn-floating{
  margin: 5px;
  
}
.fa-google-plus{
  background-color: #DE5145;

}
.fa-google-plus:hover{
  background-color: white;
  color: #DE5145;
}
.fa-twitter{
  background-color: #17A1ED;

}
.fa-twitter:hover{
  background-color: white;
  color: #17A1ED;

}
.fa-facebook{
  background-color: #3B5998;

}
.fa-facebook:hover{
  background-color: white;
  color: #3B5998;

}
.form-group .form-control{
  width: 41px;
  display: inline-flex;
  padding-top: 22px;
}
.control-label{
  font-size: 11.69px;
  color: black;
  padding-left: 5.3px;

}

.down {
    text-align: center;
    padding-top: 210px;
    font-size: 12px;
}

#qrcode{
    margin: auto;
    width:200px;
    height:200px;
}

.down spin{
  font-size: 14px;
}

h5,h4{
  font-family: initial;
}

.about h5{
	color:#26a69a;
	font-size:18px;
}
.about{
  padding-left: 3%;
  font-size: 15px;
}

footer.page-footer{
	background-color: #26a69a;
}

